DATABASE_NAME='shikshalokam'
DATABASE_USER='postgres'
DATABASE_PASSWORD='KUNALPS1414'
DATABASE_HOST='localhost'
DATABASE_PORT='5432'
DATABASE_INTERFACE_BEARER_TOKEN='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkRhcnNoaWwiLCJpYXQiOjE1MTYyMzkwMjJ9.hWq3It1ZJGmtoQd2KLujUkKVympGa5bmGFVLlnRWyI0'
SETTINGS_DEBUG='True'
S3_BASE_URL='https://root-media-uploads.s3.amazonaws.com/'
S3_MEDIA_URL='https://static-media.gritworks.ai/'
S3_BUCKET_NAME='static-media.gritworks.ai'
DJANGO_SETTINGS_MODULE='gritworks.settings'
GOOGLE_APPLICATION_CREDENTIALS='config/secrets.json'
DEFAULT_LOG_LEVEL='INFO'
AWS_REGION='ap-south-1'
AWS_ACCESS_KEY_ID='AKIARXEET4VKKMHTXQES'
AWS_SECRET_ACCESS_KEY='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'
LLAMA_BASE_URL='https://llama.gritworks.ai/'
LLAMA_HF_TOKEN='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'
LLAMAFINETUNE_BASE_URL='https://llamafinetune.gritworks.ai/'
BHASHANI_API_KEY='1226761ebe-bd08-410c-829a-d59ba13314c9'
LANGFUSE_SECRET_KEY="sk-lf-11feea0c-ce0d-48c3-8ab4-5d461e9b5f16"
LANGFUSE_PUBLIC_KEY="pk-lf-91e99ea8-9957-4ad5-adf2-e1a5ec0c888e"
LANGFUSE_HOST="https://cloud.langfuse.com"